<% if @view_in_config && @js_erb_code %>
  <%= render inline: ERB.new(@js_erb_code).result(binding) %>
  
<% else %>

 <% if  params[:onboard_user_access][:project_id_s].present?  %>
    $('#onboard_user_access_release_id_s').empty();
    $('#onboard_user_access_release_id_s').append('<option value=""></option>');
    <% OnboardDatax.project_misc_definition_class.where(definition_category: 'release').where(project_id: params[:onboard_user_access][:project_id_s].to_i).each do |r| %>
       $('#onboard_user_access_release_id_s').append('<option value="<%=r.id%>"><%= "#{r.name}" %></option>');
    <% end %>
 <% else %>
    $('#onboard_user_access_release_id_s').empty();
 <% end %>


<% end %>
